

a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style-type: none;
}
body{
    font-family: Roboto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1f2937;
}

header{
    margin: 0;
    padding: 0px 360px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

header ul {
    display: flex;
    margin-left: auto;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
    flex-shrink:0;
}

header p{
    font-weight: 900;
    color: #F9FAF8;
    font-size: 24px;
    flex-shrink:0;
}
.intro a{
    background-color: #3882F6;
    display: flex;
    border: 0;
    width: 150px;
    height: 50px;
    font-weight: 900;
    font-size: 18px;
    color: #F9FAF8;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
.intro img{
    width: 600px;
    height: 300px;
    flex-shrink: 0;
    display: flex;
    background-color: grey;
    justify-content: center;
    align-items: center;
}
.intro{
    display: flex;
    gap: 10px;
    margin-top: 15px;
    padding: 0 360px;
}

.intro p{
    font-size: 18px;
    color: #E5E7EB;
}

.intro h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin:0;
}

.info{
    justify-content: center;
    margin-top: 120px;
    padding: 40px 360px;
    text-align: center;
    background-color: white;
}
.item {
    width: 160px;
}
.container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.info h1{
    color: #1f2937;
    font-weight: 900;
    font-size: 36px;
    top: 200px;
}
.container img{
    width: 140px;
    height: 140px;

    border: 6px solid #3882F6;
    border-radius: 10px;
}
.quote{
    background-color: #E5E7EB;
    padding: 100px 500px;
    font-family: system-ui;
    display: flex;
    flex-direction: column;
    gap: 0;
}
#quote{
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    margin-bottom: 0;
}
#author{
    margin: 0;
    align-self: flex-end;
    font-weight: 900;
    font-size: 20px;
}

@media only screen and (min-width: 2000px){
    header {padding: 0px 720px;}
    .intro {padding: 0 720px;}
    .info {padding: 40px 720px;}
    .quote {padding: 100px 860px;}

}